<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowService.Properties.Settings.CollectexConnectionString"
            connectionString="Data Source=DIPAK-LAPTOP\\SQLEXPRESS;Initial Catalog=Collectex;User ID=sa;Password=secret"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ClientID" value="100-455-591"/>
    <add key="DigitalKey" value="F5D5817C-146D-4FB4-7F70-15198A66C20A"/>
    <add key="EndPoint" value="https://api.demo.ezidebit.com.au/v3-5/nonpci"/>
  </appSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>